body {
    font-family: Arial, Helvetica, sans-serif;
}
h2 {
    font-size: calc(2.3rem + .9vw);
}
h3 {
    font-size: calc(2rem + .6vw);
}
h4 {
    font-size: calc(1.3rem + .3vw);
}
h5 {
    font-size: 0.9rem;
}
footer {
    font-size: 0.9rem;
}
p {
    color: #727272;
}


.btn_1 {
    border-radius: 20px;
    background-color: #363636;
    color: white;
}
.btn_2 {
    border-radius: 20px;
    background-color: #cd3d0f;
    color: white;
}
.btn_3 {
    border-radius: 20px;
    background-color: #2d64e6;
    color: white;
}
.btn_4 {
    border-radius: 20px;
    background-color: #d9dadc;
    color: #2d64e6;
}
.btn_5 {
    border-radius: 20px;
    background-color: white;
    color: black;
}


/* NAVBAR */
.nav_margin {
    margin-top: 32px;
}
.sony_logo {
    height: 12px;
}
.nav_chevron {
    height: 10px;
    transform: translateY(5px);
    padding-right: 10px;
}

/* MAIN */
.main_margin {
    margin-top: 108px;
}
.section_1 {
    background-image: url(../img/jumbo-bg.png);
    padding-top: 270px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.section_2 {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    padding-top: 270px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.section_3 {
    background-color: #bebcbb;
}
.section_4 {
    background-color: #161c3b;
}
.list_img {
    border-radius: 15px;
}
.img_hero {
    width: 310px
}

/* FOOTER */

.section_6 {
    background-color: #00439c; 
}
.img_logo_footer {
    width: 103px;
}
.img_globe_footer {
    width: 20px;
    margin-right: 10px;
}
footer li {
    line-height: 30px;
}


@media screen and (min-width: 768px) {

    .img_hero {
        width: 410px
    }
   
}

@media screen and (min-width: 992px) {

    .img_hero {
        width: 530px
    }
   .ul_footer {
       margin-left: 250px
   }
}

@media screen and (min-width: 1200px) {

    .img_hero {
        width: 250px
    }
    .ul_footer {
        margin-left: 0
    }
}
