body {
    font-family: Arial, Helvetica, sans-serif;
}
h2 {
    font-size: calc(2.5rem + .9vw);
}
h3 {
    font-size: calc(2.3rem + .6vw);
}
h4 {
    font-size: calc(1.3rem + .3vw);
}
h5 {
    font-size: 0.9rem;
}
footer {
    font-size: 0.9rem;
}
p {
    color: #727272;
}
.section_base {

}
.section_medium {

}
.section_large {

}
.section_title {
    margin-bottom:
}
.section_title.section_title_small {
    margin-bottom:
}
.section_subtitle {
    margin-bottom:
}
.section_text {
    margin-bottom:
}

.section_main {
    padding-top: ;
}
.btn_1 {
    border-radius: 20px;
    background-color: #363636;
    color: white;
}
.btn_2 {
    border-radius: 20px;
    background-color: #cd3d0f;
    color: white;
}
.btn_3 {
    border-radius: 20px;
    background-color: #2d64e6;
    color: white;
}
.btn_4 {
    border-radius: 20px;
    background-color: #d9dadc;
    color: #2d64e6;
}
.btn_5 {
    border-radius: 20px;
    background-color: white;
    color: black;
}
/* NAVBAR */
.sony_logo {
    height: 12px;
}
/* MAIN */

.section_1 {
    background-image: url(../img/jumbo-bg.png);
    padding-top: 270px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.section_3 {
    background-color: #bebcbb;

}
.section_4 {
    background-color: #161c3b;
    
}
.list_img {
    border-radius: 15px;
}
.section_2 {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    padding-top: 270px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}